// overlay for ad7193 adc on spi0
#include "subarctic/pinctrl.h"
#include "bone/pins.h"

&ocp {
	P9_22_pinmux { status = "disabled"; };
	P9_21_pinmux { status = "disabled"; };
	P9_18_pinmux { status = "disabled"; };
	P9_17_pinmux { status = "disabled"; };
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	ti,no-idle;
	status = "okay";
};

&am33xx_pinmux {
	spi0_pins: spi0 {
		pinctrl-single,pins = <
			PIN_IO_PULLUP(  P9_22, 0 )  // clk
			PIN_IN_PULLUP(  P9_21, 0 )  // data in
			PIN_OUT_PULLUP( P9_18, 0 )  // data out
			PIN_OUT_PULLUP( P9_17, 0 )  // cs 0
		>;
	};
};

&spi0 {
	ad7193@0 {
		reg = <0>;
		compatible = "ad7193";
		spi-max-frequency = <10000000>;
		spi-cpha;
		spi-cpol;
	};
};
